<%= form_with(model: shop) do |form| %>
  <% if shop.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
        <% shop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label 'Назва', style: "display: block" %>
    <%= form.text_field(:Name_shop, {:class => 'form-control'}) %>
  </div>

  <div>
    <%= form.label 'Адреса', style: "display: block" %>
    <%= form.text_field(:Address, {:class => 'form-control'} )%>
  </div>

  <div>
    <%= form.label 'Координати', style: "display: block" %>
    <%= form.text_field(:Coordinates, {:class => 'form-control'}) %>
  </div>
<br>
  <div>
    <%= form.submit("Зберегти", {:class =>'btn btn-success'}) %>
  </div>
<% end %>
