<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  </style>
  
  <div>
    <%= form.label :"Iм'я", style: "display: block" %>
    <%= form.text_field(:First_name , {:class => 'form-control'}) %>
  </div>

  <div>
    <%= form.label :"Прiзвище", style: "display: block" %>
    <%= form.text_field(:Last_name, {:class => 'form-control'}) %>
  </div>

  <div>
    <%= form.label :"Номер телефону", style: "display: block" %>
    <%= form.text_field(:Phone, {:class => 'form-control'}) %>
  </div>

  <div>
    <%= form.label :Email, style: "display: block" %>
    <%= form.text_field(:Email, {:class => 'form-control'}) %>
  </div>

  <div>
    <%= form.label :"Адреса", style: "display: block" %>
    <%= form.text_field(:Address, {:class => 'form-control'}) %>
  </div>

    <div>
    <%= form.label :"Роль", style: "display: block" %>
    <%= form.select :userrole_id, options_for_select(@nameroles.collect { |role| [role.namerole, role.id]}) %>
  </div>
<br>
  <div>
   <%= form.submit("Зберегти", {:class =>'btn btn-success'})%>
  </div>
<% end %>
