<div id="<%= dom_id user %>">
  <p>
    <strong>Iм'я:</strong>
    <%= user.First_name %>
  </p>

  <p>
    <strong>Прiзвище:</strong>
    <%= user.Last_name %>
  </p>

  <p>
    <strong>Номер телефону:</strong>
    <%= user.Phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.Email %>
  </p>

  <p>
    <strong>Адреса:</strong>
    <%= user.Address %>
  </p>

  <p>
    <strong>Роль:</strong>
    <%= link_to user.userrole.namerole, user.userrole %>
  </p>

</div>
