<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.First_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.Last_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user.Phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.Email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user.Address %>
  </p>

    <p>
    <strong>userrole_id:</strong>
    <%= user.userrole_id %>
  </p>

</div>
