<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Вiдредагувати данi аккаунту", edit_user_path(@user) %> |
  <%= link_to "Назад до аккаунтiв", users_path %>

  <%= button_to "Видалити аккаунт", @user, method: :delete %>
</div>
