<div id="<%= dom_id cart %>">
  <p>
    <strong>Namecart:</strong>
    <%= cart.namecart %>
  </p>

  <p>
    <strong>Userid:</strong>
    <%= cart.userid %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= cart.status %>
  </p>

  <p>
    <strong>Creation timestamp:</strong>
    <%= cart.creation_timestamp %>
  </p>

</div>
