<p style="color: green"><%= notice %></p>

<%= render @cart %>

<div>
  <%= link_to "Вiдредагувати", edit_cart_path(@cart) %> |
  <%= link_to "Назад до кошикiв", carts_path %>

  <%= button_to "Видалити цей кошик", @cart, method: :delete %>
</div>
