<%= form_with(model: ware) do |form| %>
  <% if ware.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ware.errors.count, "error") %> prohibited this ware from being saved:</h2>

      <ul>
        <% ware.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Назва продукту", style: "display: block" %>
    <%= form.text_field(:name_product, {:class =>'form-control'}) %>
  </div>

  <div>
    <%= form.label "Цiна", style: "display: block" %>
    <%= form.text_field(:price,  {:class =>'form-control'}) %>
  </div>
<br>
  <div>
    <%= form.submit("Зберегти", {:class =>'btn btn-success'}) %>
  </div>
<% end %>
