<h2> Відредагуйте свій відгук </h2>
<%= form_for :post, url: post_path(@post), method: :patch do |f|%>

<% if @post.errors.any? %>
<% @post.errors.full_messages.each do |msg|%>
<div class="alert alert-danger"><%= msg %></div>
<% end %>
<% end %>
<p>
Прiзвище та ім'я<<br>
<%= f.text_field(:title, {:class =>'form-control'}) %>
</p>
<p>
Вiдгук<br>
<%= f.text_area(:body, {:class =>'form-control'}) %>
</p>
<p>
<%= f.submit("Зберегти", {:class =>'btn btn-success'})%>
</p>
<% end %>