<h2>Додати вiдгук</h2>
<%= form_for :post, url: posts_path do |f|%>
<p>
Прiзвище <br>
<%= f.text_field(:title, {:class =>'form-control'}) %>
</p>
<p>
 I'мя<br>
<%= f.text_field(:title, {:class =>'form-control'}) %>
</p>
<p>
Вiдгук<br>
<%= f.text_area(:body, {:class =>'form-control'}) %>
</p>
<p>
<%= f.submit("Додати", {:class =>'btn btn-success'})%>
</p>
<% end %>
