<!DOCTYPE html>
<html>
  <head>
    <title>SILPO</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!--<%= javascript_importmap_tags %>-->
        <style>
        a {
            text-decoration: none;
        }
        body {
          background: #caa30a;}
    </style>
  </head>

  <body>
<div class="d-flex flex-column flex-md-row align-items-center p3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
 <h3 class="my-0 mr-md-auto font-weight-bold "> <%= image_tag 'logosilpo.png'%> </h3>
<nav class="my-2 my-md-0 mr-md-3">
 <span class="p-2 text-dark"><%= link_to "Головна сторінка", home_path%></span>
 <span class="p-2 text-dark"><%= link_to "Вiдгуки", index_path%></span>
 </nav>
 <span class="p-2 text-dark"><%= link_to "Додати вiдгук", new_post_path %></span>
 <span ><%= link_to "Аккаунт", new_user_path%></span>
 <span class='p-2 text-dark'><%= link_to "Магазини", new_shop_path %></span>
 <span class='p-2 text-dark'><%= link_to "Продукти", new_ware_path %></span>
 <p><%= link_to (image_tag 'cart1.jpg', style: 'height: 60px; widht: 60px; alighn: right '), new_cart_path%></p>
</div>
<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if current_user %>
  <%= current_user.email %>
  <%= button_to "Вийти", destroy_user_session_path, method: :delete, data: {turbo: false} %>
  <% else %>
  <%= link_to "Landing_page", home_path %>
  <% end %>

 <%= yield %>
</div>
  </body>
</html>
